body {
    background-color: #02283f;
    color: white;
    font-family: 'Arial', sans-serif;
    max-width: 352px;
}

code {
    overflow-wrap: anywhere;
}

table.dos {
    max-width: 352px;
}

table.dos td {
    display: inline-flex;
}

table.dos td.taskDescription {
    display: inline-flex;
    border-bottom-right-radius: 0.3rem;
    background-color: transparent;
    color: #ffffff;
    width: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: normal;
    height: 92vh;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: row;
    background-color: #348394;
    padding: 0.0rem;
    border-radius: 0.5rem;
}

input[type="text"] {
    flex: max-content;
    padding: 0.5rem;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border: 3px solid #FAC710;
}

input[type="submit"] {
    width: 40px;
    height: 40px;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border: none;
    cursor: pointer;
    background: #FAC710;
}

input[type="submit"]:hover {
    width: 40px;
    height: 40px;
    background: #FAC710;
    color: #FFFFFF;
}

input[type="submit"].gpt {
    background: #FAC710 url("oai.png") no-repeat;
    background-size: 70%;
    background-position: center;
}

input[type="submit"].search {
    font-size: 24px;
}

input[type="submit"].gpt:hover {
    background: #FAC710 url("oai-hover.png") no-repeat;
    color: #FFFFFF;
    background-size: 70%;
    background-position: center;
}

div#dos {
    height: 100%;
    display: block;
}

div#ai {
    height: 100%;
    display: none;
}

div#dosNodeList {
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

div#dosNodeList::-webkit-scrollbar {
    display: none;
}

div#conversation {
    height: 100%;
    overflow-y: auto;
}

.question {
    color: #22c5da;
    border: 2px dashed #22c5da;
    padding: 0.3rem;
    border-radius: 0.2rem;
    background-color: rgba(17, 17, 17, 0.5);
}

p.question table tr td:first-child {
    width: 100%;
}

.avatar {
    display: inline-flex;
    color: #02283f;
    font-weight: bold;
    font-family: "Courier New", serif;
    padding: 0.1rem;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 0.2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-blend-mode: darken;
}

.answer {
    padding: 0.3rem;
    word-wrap: break-word;
}

.draggable {
    border-radius: 0.2rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.draggable:hover {
    background-color: rgba(45, 155, 240, 0.1);
    border-radius: 0.2rem;
    margin-bottom: 0.1rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.avatar {
    display: inline-flex;
    color: #02283f;
    font-weight: bold;
    font-family: "Courier New", serif;
    padding: 0.1rem;
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 0.2rem;
    justify-content: center;
    background-blend-mode: darken;
}

.task {
    display: flex;
    padding: 0.2rem;
}

.taskControlPanel {
    display: inline-flex;
    padding: 1px 5px 1px 1px;
    width: 40px;
    height: 26px;
    align-items: center;
    justify-content: right;
}

.taskInnerControlPanel {
    display: inline-flex;
    border-bottom-right-radius: 5px;
    padding: 5px 5px 2px 0;
    width: 331px;
    height: 16px;
    align-items: center;
    justify-content: right;
    background-blend-mode: darken;
}

.taskControl {
    display: inline-flex;
    border: 2px solid rgba(254, 244, 69, 0.75);
    border-radius: 5px;
    width: 40px;
    height: 1rem;
    background-color: rgba(2, 40, 63, 0.75);
    color: #FAC710;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.taskControl:hover {
    border: 2px solid #FEF445;
    background-color: #FAC710;
    color: #02283f;
}

@keyframes slide {
    from { display: none; opacity: 0; }
    to { display: block; opacity: 1; }
}

.taskDetails {
    animation: slide 1000ms;
    display: none;
}

.innerControl {
    width: 70px !important;
}

.codeBlockHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 0 5px 10px;
    background-color: #272727;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
}

.codeBlockFooter {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 0 5px 10px;
    background-color: #272727;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: bold;
    min-height: 5px;
}

.navbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
}

.navbar button {
    border: 2px solid rgba(254, 244, 69, 0.5);
    width: 80px;
    background-color: rgba(2, 40, 63, 0.75);
    color: #FAC710;
    font-size: 16px;
    font-weight: bold;
}

.navbar button:hover {
    border: 2px solid #FAC710;
    background-color: rgba(250, 199, 16, 0.2);
}

.navbar button span.ai {
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
    font-weight: normal;
}

.navbar button span.aid {
    font-style: italic;
    font-weight: bold;
}

.navbar button.active {
    border: 2px solid #FEF445;
    background-color: #FAC710;
    color: #02283f;
}

.navbar button.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navbar button.right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
