html, body {
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    background-color: transparent !important;
}

a {
    color: #00A7AA;
}

a:hover {
    color: #30D7DA;
}

.container {
    display: flex;
    height: 100%;
    background-color: #02283f;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left-column,
.right-column,
.middle-column {
    height: 99%;
    flex: 1;
    padding: 5px;
}

.middle-column {
    height: 98.5%;
    display: flex;
    flex-direction: column;
}

.middle-row {
    flex: 1;
}
.middle-row:nth-child(1) {
    margin-bottom: 10px;
}

table.details {
    height: 99%;
    width: 100%;
    cursor: unset;
}

table.details td {
    height: 100%;
    max-width: 100% !important;
}

table.details td .overflow {
    height: 100%;
    overflow-y: auto;
}

table.details .taskDescription {
    padding: 10px;
    height: 100%;
}

