
body {
    background-color: #b8c0c4;
    color: rgba(17, 17, 17, 1);
    font-family: 'Arial', sans-serif;
}

div {
    padding: 10px;
    width: 100%;
}

code {
    overflow-wrap: break-word;
    text-align: left;
}

table {
    width: 100%;
    table-layout: fixed;
}

table tr td {
    padding: 20px;
    vertical-align: top;
    text-align: center;
    width: 50%;
    height: 100%;
}